

        <!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

    <!-- Navigation -->
    {% include "navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{STATIC_URL}}img/hotair.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading" style="color:white">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Hi! I'am Armağan. I am keen on creating as well as developing software backend systems particularly
                    web-based systems, which includes system / database administration.
                    Also, I enjoy making web site design with front end development.
                    This website helps you find some technical writings or information about me</p>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
   {% include "footer.html" %}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
