{% extends "base_arm.html" %}

{% block title %}<title>Broccolinisoup is here | Home </title>{% endblock %}

{% block container %}


<section class="about-me" id="about-me">
    <div class="container">

        <div class="content">
        <h3 class="section-title white">Who am I?</h3>

        <p>Hi! I'am Armağan. I keen on creating as well as developing software backend systems particularly web-based systems, which includes system / database administration. Also, I enjoy making web site design with front end development.</p>
        <br><br>

        <p>For more information about me, you can <a href="#footer-menu" class="follow">follow</a> the white rabbit.</p>

</div>
        <div class="photo">

        <img src="{{ STATIC_URL }}img/arm.png" alt="profil">
        </div> 
        
</section>

{% endblock %}

