{% extends "base.html" %}

{% block title %}Welcome to my sample application{% endblock %}

{% block container %}
    <!-- Main hero unit for a primary marketing message or call to action -->
    
    Creating as well as developing software backend systems particularly web-based systems, which includes system / database administration and software development that have challenging problems to be solved are my personal interests in my profession.

About My Objectives;

•   Influenced by C/C++ programming language family.

•   User++ level on Linux MacOSX and Windows platforms for development purposes.

•   A quick learner of different languages / platforms / database systems and upcoming technologies on open source based and Microsoft platforms including C/C++, C#, Python and PHP. 

•   Believing in the development life cycle and prototyping model production with Agile / Scrum working methodologies.

•   Object oriented approach.

•   Upgrader.

    <!-- Example row of columns -->
    <div class="row">
    
    </div>

    <hr>
{% endblock %}