{% extends "base_arm.html" %}

{% block title %}<title>Broccolinisoup is here | Home </title>{% endblock %}

{% block container %}






<section class="blog-posts" id="blog-posts">
    <div class="container">
        <h3 class="section-title gray works">Last Blog Posts</h3>
    <div class="column">

        {% for blog_post in blog_posts%}
       <a href="#"><h5 class="section-title gray works">{{blog_post.title}} {{blog_post.date}}</h5></a>
       {% endfor %}
    </div>


</div>
</section>

{% endblock %}

