{% extends "base_arm.html" %}

{% block title %}<title>Broccolinisoup is here | Home </title>{% endblock %}

{% block container %}

<section class="contact" id="contact">
   <div class="container">
        <h3 class="section-title white">Get in Touch!</h3>
        <form method="post" action="{% url 'home' %}">{% csrf_token %}

            <div class="form-element">
            <li>{{ form.name }}</li>
            <li>{{ form.email }}</li>
            <li class="content">{{ form.content }}</li>
            <button class="start-button">Yup!</button>
            </div>

        </form>
   </div>
</section>

{% endblock %}

