<!DOCTYPE html>
<html lang="en">

 {% include "head.html" %}

<body>

    <!-- Navigation -->
    {% include "navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/blog-post.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% if success %}
                        <div class="white-banner">
                            <h1>Hey! Thank you!</h1>
                            <p class="banner-parag"> I got your message.<br>I will return you as soon as possible. Bye!</p>
                            <a type = 'button'  class="btn btn-success btn-group-xs" href="#">Oukay.</a>
                        </div>
                    {% else %}
                    <div class="page-heading" style="color:white">
                        <h1>Get in Touch!</h1>
                        <hr class="small">
                        <span class="subheading">Feel free to ask anything. I have answers (maybe).</span>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <form  method="post" action="{% url 'contact' %}" novalidate>{% csrf_token %}

                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{form.name}}{{ form.name.errors }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{form.email}}{{ form.email.errors }}


                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                {{form.content}}{{ form.content.errors }}

                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div class="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-default">Yup!</button>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
  {% include "footer.html" %}

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
