    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/girly.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                        {% if success %}
                        <div class="white-banner">
                    <h1>Hey! Thank you!</h1>
                    <p class="banner-parag"> I got your message.<br>I will return you as soon as possible. Bye!</p>
                    <a type = 'button'  class="btn btn-success btn-group-xs" href="#">Oukay.</a>
                </div>

                         {% else %}
                    <div class="site-heading">
                        <h1>Geeky Blog</h1>
                        <hr class="small">
                        <span class="subheading">Mostly About Web Development</span>
                         {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>
