<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>

    <!-- Navigation -->
    {% include "navigation.html" %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{ STATIC_URL }}img/blog-post.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading" style="color:white">
                        <h1 >{{object.title}}</h1>
                        <h2 class="subheading"></h2>
                        <span class="meta" style="color:white">Posted by me on {{object.date}}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <p>{{object.context| safe}}</p>

                </div>
            </div>
        </div>
    </article>

    <hr>

    <!-- Footer -->
    {% include "footer.html" %}
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
