<div class="container">
    <div class="row">
        <div class="col-lg-6 ">
            {% for post in writings %}
                <div class="blog-post-style">
                    <a href="{% url 'blog' post.id %}">
                        <p class="post-header">
                            {{ post.title }}
                        </p>
                    </a>
                        <p class="post-detail">
                            {{ post.content |truncatewords:50 | safe }}
                        </p>

                </div>
            {% endfor %}
        </div>


        <div class="col-lg-6 ">
        <iframe src="{% url 'stream' %}" width="600" height="400" frameborder="0">
                    </iframe>
        </div>

    </div>
</div>