
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                {% for blog_post in blog_posts%}
                <div class="post-preview">
                    <a href="{% url 'blog' blog_post.id %}">
                        <h2 class="post-title">
                            {{blog_post.title}}
                        </h2>

                    </a>
                    <p class="post-meta">Posted by me at {{blog_post.date}}</p>
                </div>
                 {% endfor %}
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>