    body {
        margin: 0;
    }

    section {

        overflow: hidden;
    }

    * {
        -webkit-box-sizing: border-box;
            -moz-box-sizing:border-box;
                box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    p,h1,h3 {
        margin: 0;
    }
    h3 {

    padding-top: 20px;
    padding-bottom: 20px;
}
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .nav {
        width: 19%;
        height: 80px;
    }
    .container {
        margin: auto;
        width: 100%;
        max-width:1060px;
    }
    .logo {
        width: 320px;
        float: left;
    }
    .menu {
        width: 400px;
        float: left;
        display: inline-block;
    }
    .menu > li {
        font-family: chaparral-pro;
        display: inline-block;
        margin: 0 10px 0 0;

    }

    .intro {
        padding-top: 50px;
        float: left;
        width: 50%;
    }
    .twitterIframe {

        background-color: #3BAAE1;
    }

    .post-header {
        font-size: 35px;
        font-family: Raleway, sans-serif;
    }

    .post-detail {
        font-size:18px;


    }