	body {

        font-family: chaparral-pro;
    }

     .white {
    	color: #515f67;
    }

     .gray {
    	color: #515f67;
    }

    .gray2 {

    	color: #8c9498;
    }
    .nav {
        background-color: #293137;
        margin-bottom: 0;
        position: fixed;
    	top: 0;
    	z-index: 10000;

    }
    .menu {
        color: #fff;
        padding-top: 30px;
        float: right;

    }

    .menu > li {
        font-size: 16px;
        padding: 0 10px 0 0;

    }

    .menu li:hover{
    	color: #2b8bd2;
    	-webkit-transition: 0.3s color ease-in-out;

    }
header {
	background-image: url('../img/alice.jpg');
	height: 800px;
	font-weight: 100%;
	background-position: center center;
	background-size: cover;
	margin-top: 60px;

}


.white-banner {
	width: 700px;
	height: 200px;	
	background-color: #ffffff;
	margin: auto;

	
	opacity:0.6;
	padding-top: 30px;
}

.white-banner h1 {
	text-align: center;
	padding-bottom: 10px;

}


.start-button {
border-bottom-left-radius: 20px;
border-top-left-radius: 20px;
border-bottom-right-radius: 20px;
border-top-right-radius: 20px;
text-indent: 0;
border: 1px solid #eeb44f;
display: inline-block;
color: #ffffff;
font-family:  chaparral-pro;
font-size: 15px;
font-weight: bold;
font-style: normal;
height: 30px;
width: 110px;
text-decoration: none;
text-align: center;
text-shadow: 1px 1px 0px #cc9f52;
background-color: #eeb44f;
margin-left: 265px;
margin-top: 10px;
padding-top: 2px;
}
.banner-parag {
	color: #000;
	font-size:15px;
	text-align: center;
	cursor: pointer;
	margin: auto;
	font-weight: bold;
}

.blog-posts {
	background-color: #FAEBD7;
	
	width: 100%;
	height: 400px;
}

.about-me {
	background-color: #FF9D9D;
	width: 100%;
	height: 340px;
}

.section-title {
	font-style: italic;
	font-family: chaparral-pro;
	font-size: 30px;
	font-weight: 100;

}

.objectives {
	font-style: italic;
	font-family: chaparral-pro;
	font-size: 17px;
	font-weight: 100;

}
.right {
	text-align: center;
	padding-top: 60px;
}


.about-me p {
	color: #black;
	font-weight: 100;
	font-size: 17px;
	font-family: chaparral-pro;
	font-style: italic;


}
.about-me .container .content {
	float: left;
	width: 50%;
	

}

.about-me .container .photo {

	float: right;
	width: 50%;
	height: 40px;
	padding: 60px 0 0 30px;
	transform: scale(0.5);
	-webkit-transform:scale(0.5);
	-moz-transform:transform:scale(0.5);
	-o-transform:transform:scale(0.5);

}

.column {

	float: left;
	width: 50%;
}

.column h5 {

	margin:auto;
	width: 1000px;
	opacity: 0.7;
	padding-bottom: 10px;
	transform: scale(0.7);
	-webkit-transform:scale(0.7);
	-moz-transform:transform:scale(0.7);
	-o-transform:transform:scale(0.7);

}

.column h5:hover {
	opacity: 1;
	transform: scale(1);
	-webkit-transform:scale(1);
	-moz-transform:transform:scale(1);
	-o-transform:transform:scale(1);
	transition:0.3s all ease-in-out 0s;
	-webkit-transition:0.3s all ease-in-out 0s;

}



.contact {
	background-color: #FFF4F4;
	height: 400px;

}

.form-element li {

	display: inline-block;
	padding-top:10px;
	padding-right: 10px;


}

.form-element li input[type="text"] {

	display: inline-flex;
	padding-top:10px;
	width: 500px;
	height: 40px;

}

.form-element li textarea[id="id_content"] {

	display: inline-flex;
	padding-top:10px;
	width: 1014px;
	height: 150px;

}

.form-element .start-button {
	margin-left: 906px;
	padding-top: 6px;
	background-color: #AE4FEE;
	border: 1px solid #AE4FEE;
	height: 40px;
}

footer {
	background-color: #191e22;
	height: 120px;
}

.footer-menu {
	padding-top: 15px;
}

.footer-menu li {

	color: #fff;
	display: inline-block;
	padding-right: 10px;
}

.footer-menu img {


	width: 80px;
	height: 80px;

	transform: scale(0.6);
	-webkit-transform:scale(0.6);
	-moz-transform:transform:scale(0.6);
	-o-transform:transform:scale(0.6);
}

.footer-menu img:hover {
	opacity: 1;
	transform: scale(1);
	-webkit-transform:scale(1);
	-moz-transform:transform:scale(1);
	-o-transform:transform:scale(1);
	transition:0.3s all ease-in-out 0s;
	-webkit-transition:0.3s all ease-in-out 0s;

}
